spring.application.name=vbank

server.port=8080

spring.datasource.url=(your_database_url)
spring.datasource.username=(your_username)
spring.datasource.password=(your_password)

spring.jpa.database-platform=org.hibernate.dialect.PostgreSQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.sql.init.mode=always
spring.jpa.defer-datasource-initialization=true
